################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TUBES_KPL_KELOMPOK_7.csproj
